.frequently-bought-main{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 50px 60px;
}

.frequently-bought-main h3{
    font-size: 25px;
    line-height: 37px;
    font-weight: 700;
    color: var(--text-color);
}

.frequently-bought-card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}