.carousel-container{
    position: relative;
    width: 100%;
    height: max-content;
    /* margin: 0;
    padding: 0; */
    overflow: hidden;
    box-sizing: border-box;
}

.carousel-wrapper{
    display: flex;
    transition: transform 1s ease-in-out;
    width: 100%;
}

/* .carousel-slides {
    display: flex;
    width: 300%; 
    animation: slide 9s infinite; 
  } */

.carousel-slide{
    min-width: 100%;
    height: auto;
}

.carousel-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-control{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.carousel-control img{
    width: 30px;
    height: 30px;
}

.carousel-control.prev{
    left: 10px;
}

.carousel-control.next{
    right: 10px;
}