.comments-container{
    display: flex;
    width: 100%;
    gap: 10px;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid var(--border-color);
}

.user-details{
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.user-name-and-detail{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.user-name-and-detail h3{
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
}

.user-name-and-detail p{
    font-size: 13px;
    line-height: 19px;
    font-weight: 400;
    color: var(--text-color);
}

.cemmented-product-images{
    display: flex;
    gap: 10px;
}

.cemmented-product-images img{
    cursor: pointer;
}

.comment-section{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 10px;
}

.stars-and-date{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.comment-stars{
    display: flex;
    gap: 2px;
}

.comment-stars img{
    /* width: 20px;
    height: 20px; */
    cursor: pointer;
}

.stars-and-date p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.comment-and-see-more{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 15px;
    text-align: justify;
}

.comment-and-see-more p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.comment-and-see-more a{
    width: max-content;
    padding: 2px 6px;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--active-nav-item-color);
    text-decoration: underline;
}

.feedback{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.feedback button{
    background-color: transparent;
    border: 1px solid black;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 7px;
    border-radius: 25px;
    cursor: pointer;
}