.category-main-container{
    display: flex;
    flex-direction: column;
    padding: var(--global-padding);
}

.category-heading{
    color: var(--text-color);
    font-size: 25px;
    line-height: 29px;
    font-weight: 700;
    margin-bottom: 24px;
}

.category-cards-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    align-items: center;
    padding: 0px 0px 0 0;
}

.category-cards-container a img{
    width: 100%;
    height: auto;
    /* object-fit: contain; */
    cursor: pointer;
}

/* @media only screen and (min-width: 1750px){
    .category-cards-container{
        display: flex;
        flex-wrap: wrap;
    }
} */

.mobile-category-cards-container{
    display: none;
}

@media only screen and (min-width: 2600px){
    .category-cards-container{
        display: grid;
        grid-template-columns: repeat(9, 1fr);
    }
}

@media only screen and (min-width: 2500px) and (max-width: 2599px){
    .category-cards-container{
        display: grid;
        grid-template-columns: repeat(8, 1fr);
    }
}

@media only screen and (min-width: 2400px) and (max-width: 2499px){
    .category-cards-container{
        display: grid;
        grid-template-columns: repeat(7, 1fr);
    }
}

@media only screen and (min-width: 1800px) and (max-width: 2399px){
    .category-cards-container{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }
}

@media only screen and (min-width: 1650px) and (max-width: 1799px){
    .category-cards-container{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px){
    .category-cards-container{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px){
    .category-cards-container{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px){
    .category-main-container{
        /* padding: 10px 10px 30px 10px; */
        padding: var(--global-padding);
    }

    .category-cards-container{
        grid-template-columns: auto auto;
        gap: 10px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 480px){
    .category-main-container{
        padding: 10px 10px 30px 10px;
    }

    .category-heading{
        color: var(--text-color);
        font-size: 20px;
        line-height: 30px;
        font-weight: 700;
        margin-bottom: 10px;
    }

    .category-cards-container{
        /* grid-template-columns: auto auto;
        gap: 5px; */
        display: none;

    }

    .mobile-category-cards-container{
        display: grid;
        grid-template-columns: auto auto;
        gap: 10px;
        padding: 10px;
    }

    .mobile-category-cards-container a img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


}

