.card {
    width: 100%;
    box-sizing: border-box; 
    padding: 10px; 
}

.card-header{
    position: relative;
    display: flex;
    flex-direction: column;
}

.card-header img{
    width: 100%;
}


.pieces-text {
    position: absolute;
    bottom: 10%;
    font-size: 55px;
    line-height: 64px;
    font-weight: 700;
    color: var(--text-white);
    left: 10px;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8); /* Example shadow */
}

.title-and-price{
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    background-color: #FAFAFA;
    padding: 5px 10px;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color);
}

.new-arrival-product-name{
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
}

.new-arrival-product-price{
    font-size: 25px;
    line-height: 29px;
    font-weight: 700;
}

.card-buttons{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px;
    background-color: var(--button-color);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    gap: 10px;
}

.card-buttons a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    gap: 15px;
    color: var(--text-white) !important; 
    font-size: 15px;
    line-height: 17px;
    font-weight: 400;
    text-decoration: none;
    justify-content: center;
    height: 40px;
}

.card-buttons a p{
    color: #fff !important;
}

.card-buttons a:hover{
    background-color: var(--active-nav-item-color);
    border-radius: 6px;
}

.card-buttons a img{
    width: 20px;
}