.scop-main-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 50px;
    padding: var(--global-padding);
    /* padding: 50px 60px; */
}

.scop-contact-container{
    display: none;
    flex-direction: column;
    width: 100%;
    height: 380px;
    position: relative;
    background-image: url('../../../Assets//global-images//get-scop-bg.png');
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
}

.scop-contact-container::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.scop-contact-container > * {
    position: relative;
    z-index: 2;
}

.heading-and-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heading-and-links h3{
    color: white;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}

.heading-and-links span{
    color: white;
    font-size: 17px;
    margin-bottom: 20px;
}

.heading-and-links span a{
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.scop-input{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.scop-input-email{
    display: flex;
    gap: 5px;
    margin-bottom: 15px;
}

.scop-input-email input {
    width: 280px;
    height: 36px;
    padding: 16px;
    outline: none;
    border-radius: 4px;
    border: 1px solid var(--border-color);
    font-size: 15px;
    font-weight: 400;
    color: var(--text-color);
}

.scop-input-email button{
    padding: 16px 50px;
    height: 36px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: var(--button-color);
    border: 2px solid var(--button-color);
    border-radius: 4px;
    cursor: pointer;
}

.scop-input-email button a{
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
}

.scop-input-email button:hover{
    background-color: transparent;
    border: 2px solid var(--active-nav-item-color);
}

.scop-input-email button:hover a{
    color: var(--active-nav-item-color);
    font-weight: 500;
}

.scop-input p{
    color: white;
}

.product-text-details{
    display: none;
    width: 100%;
    align-items: flex-start;
    /* justify-content: space-between; */
    gap: 15px;
    height: auto;
    /* height: fit-content; */
    overflow: hidden;
}


/* @media only screen and (max-width: 2710px){
    .product-text-details{
        height: 30vh;
    }
}

@media only screen and (max-width: 2425px){
    .product-text-details{
        height: 55vh;
    }
}

@media only screen and (max-width: 1825px){
    .product-text-details{
        height: 62vh;
    }
}

@media only screen and (max-width: 1750px){
    .product-text-details{
        height: 70vh;
    }
}

@media only screen and (max-width: 1565px){
    .product-text-details{
        height: 80vh;
    }
}


@media only screen and (max-width: 1370px){
    .product-text-details{
        height: 95vh;
    }
}

@media only screen and (max-width: 1305px){
    .product-text-details{
        height: 39vh;
    }
}

@media only screen and (max-width: 1105px){
    .product-text-details{
        height: 40vh;
    }
}

@media only screen and (max-width: 1015px){
    .product-text-details{
        height: 42vh;
    }
} */

.product-text{
    width: 60%;
    display: flex;
    /* align-items: flex-start; */
    /* flex: 1; */
    height: auto;
    flex-direction: column;
}

.product-text-details.show{
    display: flex;
}

.text-details{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
    text-align: justify;
    margin-bottom: 28px;
}

.text-details h3{
    color: var(--text-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

.text-details p{
    color: var(--text-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.image-gallery-slider{
    display: flex;
    width: 40%;
    height: 23vh;
    gap: 10px;
    justify-content: center;
    /* background-color: orange; */
}

/* @media only screen and (max-width: 2360px){
    .product-text{
        width: 75%;
    }
    .image-gallery-slider{
        width: 25%;
    }
} */

.vertical-slider {
    display: flex;
    flex-direction: column;
    animation: slide 15s linear infinite; /* Infinite scrolling animation */
    gap: 10px;
    padding: 0 10px;
    /* height: 30%; */
    /* background-color: purple; */
    /* flex-grow: 0; */
}

.img-one {
    width: 100%;
    height: 250px !important;
    /* width: 100%; */
    min-width: 220px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 15px;
}

.img-two {
    width: 100%;
    height: 310px !important;
    min-width: 220px;
    object-fit: cover;
    cursor: pointer;
}


/* @media only screen and (max-width: 1330px){
    .img-one {
        width: 180px;
    }
    
    .img-two {
        width: 180px;
    }
} */


/* @media only screen and (max-width: 1100px){
    .img-one {
        width: 150px;
        height: 180px !important;
    }
    
    .img-two {
        width: 150px;
        height: 240px !important;
    }
} */

@keyframes slide {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}



