.cart-products-main-container{
    display: flex;
    flex-direction: column;
    position: -webkit-sticky;
    position: sticky;
    /* position: relative; */
    top: 0;
    width: 100%;
    z-index: 22222;
    /* background-color: orange; */
}

.cart-products-heading{
    display: flex;
    align-items: center;
    padding: 0 10px 15px 10px;
}



.cart-products-heading h3{
    font-size: 15px;
    font-weight: 700;
    line-height: 38px;
    color: var(--text-color);
}


.cart-items{
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    height: 240px;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px;
    gap: 10px;
    transition: width 0.5s ease;
}

/* Custom scrollbar for WebKit browsers */
.cart-items::-webkit-scrollbar {
    display: none;
}

.cart-item-details{
    display: flex;
    flex-direction: column;
}

.cart-item-details-heading{
    display: flex;
    width: 100%;
    padding: 15px 10px 5px 10px;
}

.cart-item-details-heading h3{
    font-size: 15px;
    font-weight: 700;
    color: var(--text-color);
}

.price-details-div{
    display: flex;
    flex-direction: column;
    background-color: #FAFAFA;
    width: 100%;
    padding: 10px 30px;
    gap: 10px;
}

.price-details{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-color);
    padding: 5px 0;

}

.price-details h3{
    font-size: 12px;
    font-weight: 600;
    color: var(--text-color);
}

.price-details p{
    font-size: 15px;
    font-weight: 600;
    color: var(--text-color);
}

.continue-btn{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 15px 15px 30px 15px;
}

.continue-btn button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 42px;
    background-color: #2F7A97;
    border-radius: 8px;
    border: 2px solid #2F7A97;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

/* Desktop Component Styling */
.desktop-cart-item-details{
    display: none;
    width: 100%;
    /* align-items: center; */
    justify-content: space-between;
    padding: 10px 90px 50px 90px;
    gap: 10px;
}



.desktop-cart-item-details .decrease-width{
    width: 70% !important;
}

.desktop-price-details-div{
    display: flex;
    /* background-color: orange; */
    width: 70%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    transition: width 0.5s ease, gap 0.5s ease;
}



.dektop-price-details{
    display: flex;
    align-items: center;
    gap: 20px;
    border: 1px solid #2F7A97;
    height: 50px;
    padding: 0 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.desktop-price-title{
    font-size: 15px;
    font-weight: 400;
    color: var(--text-color);
}

.desktop-price-total{
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color);
}

.desktop-continue-btn-div{
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: end;
}

.desktop-continue-btn-div button{
    width: 190px;
    height: 50px;
    background-color: #2F7A97;
    border: 1px solid #2F7A97;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 10px;
}

.desktop-continue-btn-div.hide-continue-btn{
    display: none;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #FFF;
    overflow-x: hidden;
    transition: 0.5s;
  }
  
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}


/* Media Queries */

/* Hide and show componennts according to screen */
@media only screen and (min-width: 481px){
    .desktop-cart-item-details{
        display: flex;
    }
    .cart-item-details-heading {
        display: none;
    }
    .price-details-div {
        display: none;
    }
    .continue-btn{
        display: none;
    }

    .cart-products-heading h3 {
        font-size: 25px;
        font-weight: 700;
        line-height: 38px;
        color: var(--text-color);
    }

    .cart-items{
        width: 100%;
        height: 450px;
        border-top: none;
        border-bottom: none;
        padding: 10px 20px;
        gap: 10px;
        transition: width 0.5s ease;
    }
}

/* Large screens desktop and latop */
@media only screen and (min-width: 1025px) {
    .cart-items.low-width{
        width: 65%;
        padding: 10px 50px;
    }

    .cart-products-heading {
        display: flex;
        align-items: center;
        padding: 0 105px 15px 105px;
    }
    .cart-items{
        padding: 10px 105px;
    }

    .desktop-continue-btn-div{
        position: relative;
    }

    .desktop-continue-btn-div button{
        position: absolute;
        top: 0;
    }

    .desktop-cart-item-details.desktop-cart-item-div-padding-decrease {
        padding: 20px 90px 50px 50px
    }
    .desktop-price-details-div.desktop-price-div-decrease{
        width: 65%;
    }
}

/* Tablates screens */
@media only screen and (min-width: 781px) and (max-width: 1024px) {
    .cart-products-heading {
        display: flex;
        align-items: center;
        padding: 0 50px 15px 50px;
    }

    .cart-items{
        padding: 10px 50px;
    }

    .desktop-cart-item-details {
        padding: 20px 50px;
    }

    .desktop-continue-btn-div{
        position: relative;
    }

    .desktop-continue-btn-div button{
        position: absolute;
        top: 0;
    }
}

/* Ipods Screens */
@media only screen and (min-width: 481px) and (max-width: 780px) {
    .desktop-cart-item-details{
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .desktop-price-details-div{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        transition: width 0.5s ease;
    }

    .desktop-continue-btn-div {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
    }
}

