.products-slider-main-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    padding: var(--global-padding);
    overflow: hidden;
}

.feature-product-heading{
    color: var(--text-color);
    font-size: 25px;
    line-height: 29px;
    font-weight: 700;
}

/* @media only screen and (max-width: 1200px){
    .products-slider-main-container{
        padding: 20px 30px;
    }
} */



@media only screen and (max-width: 480px){
    .products-slider-main-container{
        display: flex;
        width: 100%;
        padding: 20px;
    }

    .feature-product-heading{
        color: var(--text-color);
        font-size: 20px;
        line-height: 30px;
        font-weight: 700;
    }
}

.products-slider{
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 30px;
    cursor: grab;
    transition: all 0.3s ease-in-out;
}

.products-slider.dragging {
    transition: none;
    cursor: grabbing;
}

/* Custom scrollbar styling for Webkit browsers */
.products-slider::-webkit-scrollbar {
    height: 4px; 
}

.products-slider::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
}

.products-slider::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
}

.products-slider::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

@media only screen and (max-width: 700px){
    /* .products-slider-main-container{
        display: flex;
        width: 100%;
        padding: 20px;
    } */

    .products-slider{
        display: flex;
        width: 100%;
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        gap: 20px;
    }
}