.blogs-main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: var(--global-padding);
    text-align: center;
    gap: 5px;
}

.blogs-main-container h3{
    font-size: 25px;
    font-weight: 700;
    line-height: 29px;
    color: #595959;
}

.blogs-main-para{
    font-size: 15px;
    font-weight: 500;
    line-height: 23px;
}


.blogs-slider-main-container{
    width: 100%;
    height: auto;
}



/* Optional: Override default slick width for slides */
/* .slick-list {
    overflow: hidden !important; 
}

.slick-track {
    display: flex !important; 
} */

.blog-cards-container{
    display: flex;
    width: 25%;
    padding: 0;
    height: auto;
    margin-top: 20px;
}

.slick-slider{
    margin-bottom: 25px;
    display: flex !important;
    width: 100%;
}
/*
.slick-list{
    display: flex !important;
    width: 100%; overflow: hidden;

} */

/* .slick-track{
    display: flex;
    width: 100% !important;
    overflow: hidden !important;
    gap: 10px;
} */

/* .slick-slide {
    width: 25% !important;
    height: auto !important; 
} */

/* .slick-slide .slick-active .slick-current{
    width: 25% !important;
} */

/* .slick-slide>div {
    display: flex !important;
    width: 100% !important;
} */

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 15px;
    line-height: 30px;
}


.slick-arrow.slick-next,
.slick-arrow.slick-prev{
    display: none !important;
}

.slick-dots {
    position: absolute;
    bottom: -25px;
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
} 

/* @media only screen and (min-width: 481px){
    .blogs-main-container{
        padding: var(--global-padding);
    }
} */

/* @media only screen and (min-width: 781px) and (max-width: 1024px){

    .blog-card{
        display: flex;
        flex-direction: column;
        width: 310px !important;
        height: auto;
        border: 1px solid #595959;
    }
    
    .blog-card-image{
        width: 310px;
        height: 295px;
        position: relative;
    }
} */

/* @media only screen and (min-width: 1025px){
    .blogs-main-container{
        padding: 50px 50px;
        gap: 15px;
    }

    .blogs-main-container h3{
        font-size: 28px;
        line-height: 42px;
    }

    .blogs-main-para{
        display: flex;
        font-size: 15px;
        line-height: 23px;
        font-weight: 500;
        color: #000;
        margin-bottom: 14px;
    }

    .blog-card{
        display: flex;
        flex-direction: column;
        width: 430px !important;
        height: auto;
        border: 1px solid #595959;
    }
    
    .blog-card-image{
        width: 430px;
        height: 295px;
        position: relative;
    }
} */


