.similler-products-main-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 50px 60px;
}

.similler-products-main-container h3 {
    font-size: 25px;
    line-height: 37px;
    font-weight: 700;
    color: var(--text-color);
}

.similler-products-wrapper {
    position: relative;
    display: flex;
}

.similler-products-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    grid-auto-flow: column; 
    overflow-x: hidden;
    white-space: nowrap; 
}

.similler-products-cards::-webkit-scrollbar{
    display: none;
}

.scroll-button {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    outline: none;
    z-index: 1;
    transition: background-color 0.3s ease;
}

.scroll-button img {
    width: 50px;
    height: 50px;
}

.scroll-button.left {
    left: 0;
}

.scroll-button.right {
    right: 0;
}