.get-the-scop-main-container{
    /* margin-top: 40px; */
    display: flex;
    width: 100%;
    height: 70vh;
    padding: var(--global-padding);
    background-image: url('../../../Assets/to-be-change/bb\ 1.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 25px;
    margin-top: 25px;
}

.get-the-scop-form-container{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.get-the-scop-form{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.get-the-scop-form h3{
    font-size: 30px;
    line-height: 36px;
    font-weight: 600;
    color: var(--text-color);
}

.get-the-scop-form .get-the-scop-offers{
    font-size: 17px;
    font-weight: 500;
    line-height: 25px;
    padding-top: 5px;
    color: var(--text-color);
}

.get-the-scop-form .get-the-scop-offers a{
    color: var(--text-color);
}

.get-the-scop-input{
    display: flex;
    padding: 20px 0;
    gap: 5px;
}

.get-the-scop-input input{
    width: 100%;
    height: 40px;
    border: 1px solid var(--border-color);
    padding: 16px 15px;
    outline: none;
    color: var(--text-color);
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    border-radius: 4px;
}

.get-the-scop-input button{
    background-color: var(--button-color);
    width: 180px;
    height: 40px;
    border: 2px solid var(--button-color);
    outline: none;
    font-size: 15px;
    line-height: 15px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 4px;
}

.get-the-scop-input button:hover{
    background-color: transparent;
    border: 2px solid var(--button-color);
    color: var(--button-color);
    font-weight: 600;
}

.get-the-scop-form p{
    color: var(--text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 100%;
    text-align: center;
}

.get-the-scop-banner{
    width: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 30px 50px;
    align-items: center;
    overflow: hidden;
    position: relative;
    gap: 10px;
    text-align: center;
    /* background-color: orange; */
}

.get-the-scop-banner h3{
    font-size: 30px;
    line-height: 36px;
    font-weight: 600;
    color: var(--text-color);
    width: 100%;
}

.get-the-scop-banner p{
    font-size: 17px;
    color: var(--text-color);
    font-weight: 500;
    line-height: 25px;
}

.banner-container{
    display: flex;
    width: 100%;
    padding: 0 20px;
    align-items: center;
    justify-content: center;
}

.banner-container img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    z-index: 1;
    position: relative;
    margin-bottom: 20px;
}

/* .banner-container img:hover{
    animation: float 1.5s ease-in-out infinite;
} */

.get-the-scop-banner button{
    background-color: var(--button-color);
    /* bottom: 12%; */
    z-index: 2;
    /* position: absolute; */
    font-size: 16px;
    line-height: 16px;
    text-transform: capitalize;
    color: white;
    /* padding: 12px 24px; */
    width: 190px;
    height: 46px;
    border-radius: 8px;
    border: 3px solid white;
    transition: all 0.3s ease-in-out;
    font-weight: 500;
    /* animation: float 1.5s ease-in-out infinite; */
}

@media only screen and (max-width: 1300px){
    .get-the-scop-banner button{
        bottom: 10%;
        padding: 0;
        font-size: 16px;
    }
}
/* 
@keyframes float {
    0%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(-2%);
    }
    100%{
        transform: translateY(0%);
    }
} */

.get-the-scop-banner button a{
    color: white;
    text-decoration: none;
}

.get-the-scop-banner button:hover{
    background-color: white;
    border: 3px solid var(--button-color);
    transition: all 0.3s ease-in-out;
}

.get-the-scop-banner button:hover a{
    color: var(--button-color);
    transition: all 0.3s ease-in-out;
    font-weight: 600;
}

.mobile-view-scop-main-container{
    display: none;
}

@media only screen and (max-width: 1300px){
    .get-the-scop-banner{
        width: 50%;
        display: flex;
        padding: 20px;
    }
}

@media only screen and (max-width: 1100px){
    .get-the-scop-main-container{
        display: none;
    }

    .mobile-view-scop-main-container{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 0 10px 0;
        background-color: #D9D9D9;
        flex-direction: column;
        margin-top: 20px;
    }

    .mobile-view-scop-main-container h3{
        font-size: 22px;
        font-weight: 600;
        line-height: 25px;
        color: #484F59;
    }

    .mobile-view-scop-main-container p{
        text-align: center;
        font-size: 14px;
        font-weight: 300;
        line-height: 22px;   
        color: var(--text-color);
        padding: 10px 0 0 0;
    }

    .mobile-view-scop-main-container p a{
        color: var(--text-color);
        font-weight: 500;
    }
    .mobile-view-scoop-email-input{
        display: flex;
        gap: 20px;
        padding: 0 30px;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        width: 100%;
        padding: 15px;
    }
    .mobile-view-scoop-email-input input{
        border: 2px solid var(--border-color);
        outline: none;
        height: 40px;
        border-radius: 5px;
        width: 50%;
        padding: 10px;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        color: var(--text-color);
    }
    .mobile-view-scoop-email-input button{
        height: 35px;
        padding: 10px;
        border-radius: 5px;
        background-color: #484F59;
        border: 1px solid #484F59;
        color: white; 
    }
}

@media only screen and (max-width: 360px){
    .mobile-view-scoop-email-input{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 10px 10px;
    }

    .mobile-view-scoop-email-input input{
        width: 80%;
    }
}