/* Flexable Payment Container */
.flexable-payment-option{
    display: none;
    flex-direction: column;
    width: 100%;
    gap: 15px;
    background-color: var(--products-bg);
    padding: 50px 0;
    align-items: center;
    justify-content: center;
}

.flexable-payment-option h3{
    font-size: 28px;
    line-height: 42px;
    font-weight: 600;
}

.flexable-payment-features{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 50%;
    gap: 30px;
}

.flexable-payment-features span{
    display: flex; 
    font-size: 13px;
    gap: 5px;
}

.flexable-payment-features span p{
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.flexable-payment-features span i{
    color: #1DBCD3;
}

.flexable-payment-option button{
    background-color: var(--button-color);
    padding: 14px 40px;
    margin-top: 20px;
    color: white;
    font-size: 14px;
    line-height: 21px;
    font-weight: 600;
    border-radius: 4px;
    border: 2px solid var(--button-color);
    cursor: pointer;
}

.flexable-payment-option button:hover{
    border: 2px solid var(--active-nav-item-color);
    background-color: transparent;
    color: var(--active-nav-item-color);
}

/* Question Answere Main Container styling */
.f-a-q-main-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px 200px 50px 200px;
    color: var(--text-color);
}

.faq-details{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
}

.faq-details p:nth-child(1){
    font-size: 22px;
    line-height: 33px;
    font-weight: 600;
}

.faq-details p:nth-child(2){
    font-size: 13px;
    line-height: 24px;
    font-size: 300;
    text-align: justify;
}

.faq-details p:nth-child(3){
    font-size: 22px;
    line-height: 33px;
    font-weight: 600;
    padding-bottom: 16px;
}

/* Frequently ask questions section */
.questions-answeres{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 2px solid var(--border-color);
}

.question-toggler{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 26px 0 6px 0;
    border-bottom: 1px solid var(--border-color);
}

.question-section{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    margin-bottom: 10px;
    cursor: pointer;
}

.question-section p{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.question-section img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.rotate{
    transform: rotate(45deg);
    transition: all 0.3s ease-in-out;
}

.answere-section{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    margin-top: 10px;
    padding: 0 20px;
    gap: 20px;
    transition: height 0.3s ease-in-out;
}

.answere-section.show-answere{
    height: auto;
}

.answere-section p{
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}
