.furniture-for-budget-main-secton{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: var(--global-padding);
    gap: 25px;
}

.furniture-for-budget-heading-section{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.furniture-for-budget-heading-section h3{
    font-size: 25px;
    font-weight: 600;
    line-height: 37px;
    color: var(--text-color);
}

.furniture-for-budget-heading-section p{
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: var(--text-color);
}

.furniture-for-budget-card{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

}

.budget-furniturre-card{
    display: flex;
    flex-direction: column;
    width: 33%;
    background-color: #f5fff8;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.budget-furniture-card-img{
    width: 100%;
    height: 390px;
    object-fit: cover;
    overflow: hidden;
}

.budget-furniture-card-img img{
    height: auto;
    width: 100%;
    object-fit: cover;
    transition: transform 1.2s ease;
}

.budget-furniture-card-img:hover img{
    transform: scale(1.1);
}

.budget-furniture-card-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
    gap: 10px;
    position: relative;
}

.budget-furniture-card-details p{
    font-size: 25px;
    line-height: 37px;
    font-weight: 500;
    color: var(--text-color);
}

.budget-furniture-card-details button{
    background-color: transparent;
    border: none;
    font-size: 15px;
    line-height: 22px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.budget-furniture-card-details button::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: #000;
    transition: left 0.5s ease, background-color 0.5s ease, width 0.5s;
}

.budget-furniture-card-details button:hover{
    color: #C61B1A;
}

.budget-furniture-card-details button:hover::after{
    background-color: #C61B1A;
    width: 50%;
    left: 25%;
}


