.insta-container{
    position: relative;
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.images{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
}

.images img{
    width: 100%;
    height: auto;
    display: block;
}

.icon{
    position: absolute;
    /* top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
    z-index: 10;
    cursor: pointer;
    transition: transform 1.5s ease-in-out;
}

.icon img{
    width: 100%;
    height: 100%;
}

.icon.animate{
    animation: scaleAndReset 1.5s ease-in-out;
    
}

@keyframes scaleAndReset {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}