/* Give border effect to product card */
.product-card {
    box-sizing: border-box;
    position: relative;
    padding: 15px;
}

.product-card::before,
.product-card::after {
    content: '';
    position: absolute;
    background: var(--border-color);
}

.product-card::after {
    bottom: 0;
    left: 30px;
    right: 30px;
    height: 2px;
}

  /* Left and right borders */
.product-card > div::before,
.product-card > div::after {
    content: '';
    position: absolute;
    width: 2px;
    background: var(--border-color);
}

.product-card > div::after {
    top: 30px;
    bottom: 30px;
    right: 0;
}

.product-card.hide-after > div::after {
    display: none;
}

/* Product Card Border Effect End */
.heart-icon-div{
    display: flex;
    justify-content: end;
    padding: 10px 0;
}

.product-tag-div{
    display: flex;
    align-items: center;
    padding: 0px 0 0 22px;
    width: 100%;
    justify-content: start;
}

.heart-icon-div .heart-icon{
    width: 23px;
    height: 20px;
    /* width: 50px;
    height: 50px; */
    cursor: pointer;
}

.product-main-image-container{
    /* display: flex;
    width: 100%;
    height: auto; */
    position: relative;
    overflow: hidden;
}

.product-card-data .product-main-img{
    width: 100%;
    height: auto;
    object-fit: contain;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.overlay-buttons {
    position: absolute;
    display: flex;
    width: 100%;
    gap: 10px;
    margin-bottom: 15px;
    bottom: 0;
    transform: translateY(100%);
    transition: transform 0.3s ease, opacity 0.3s ease; /* Smooth slide and fade transition */
    visibility: hidden; /* Hide buttons by default */
}

.overlay-buttons .overlay-button {
    /* margin: 5px; */
    width: 50%;
    height: 30px;
    background-color: white;
    border: 1px solid var(--border-color);
    cursor: pointer;
    padding: 5px 10px;
    /* width: 50%; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: var(--text-color);
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    border-radius: 4px;
    text-decoration: none;
}



.overlay-button img{
    width: 15px;
    height: 15px;
}

.overlay-buttons .overlay-button:hover{
    background-color: var(--active-nav-item-color);
    border: 1px solid var(--active-nav-item-color);
    color: white;
}

/* Hover effect */
.product-card-data:hover .product-main-img {
    transform: scale(0.8); /* Scale down the image */
}

.product-card-data:hover .overlay-buttons {
    transform: translateY(-0px);
    visibility: visible; /* Ensure buttons are visible */
}

.product-title{
    background-color: transparent !important;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    /* font-size: 36px;
    line-height: 40px; */
    margin-bottom: 15px;
    cursor: pointer;
}

/* @media only screen and (max-width: 2560px){
    .product-title{
        font-size: 30px;
    }
} */

.product-title a{
    color: var(--text-color);
    text-decoration: none;
}

.product-rating-stars-div{
    display: flex;
    align-items: center;
    gap: 5px;
}

.rating-star{
    width: 14px;
    height: 14px;
    /* width: 30px;
    height: 30px; */
}

.product-rating-stars-div p{
    font-size: 12px;
    /* font-size: 26px; */
    line-height: 18px;
    font-weight: 300;
}

.product-low-price-addvetisement{
    font-size: 12px;
    /* font-size: 26px; */
    font-weight: 400;
    line-height: 18px;
    /* line-height: 40px; */
    margin-top: 10px;
}

.product-price-tag{
    font-size: 18px !important;
    /* font-size: 28px !important; */
    line-height: 27px !important;
    /* line-height: 40px !important; */
    font-weight: 600 !important;
    margin-top: 5px;
}

.product-financing-addvertisement-div{
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 14px 0 14px 0;
}

.product-financing-addvertisement-div p{
    font-size: 12px;
    /* font-size: 26px; */
    line-height: 18px;
    /* line-height: 40px; */
    font-weight: 600;
}

.product-financing-addvertisement-div a{
    font-size: 12px;
    line-height: 18px;
    /* font-size: 26px;
    line-height: 40px; */
    font-weight: 600;
    color: var(--product-text-color);
}

.product-financing-addvertisement-div a:hover{
    color: var(--active-nav-item-color);
}

.color-variation-div{
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 3333;
}

.color-variation{
    padding: 15px;
    /* padding: 25px; */
    cursor: pointer;
    border-radius: 50%;
}

.product-delivery-time{
    font-size: 12px;
    line-height: 18px;
    /* font-size: 26px;
    line-height: 40px; */
    font-weight: 600;
    margin-top: 25px;
}

