.order-summary-main-container{
    display: flex;
    flex-direction: column;
    padding: 30px;
    border: 1px solid #d7d7d7;
    color: var(--text-color);
    gap: 30px;
}

.order-summary-main-container h3{
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
}

.order-summary-details{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.selected-products{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}

.selected-single-product{
    display: flex;
    width: 100%;
    gap: 25px;
    cursor: pointer;
}

.selected-single-product img{
    width: 95px;
    height: 63px;
    border: 1px solid #d7d7d7;
}

.selected-product-containt{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.selected-product-name-and-price{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.selected-product-name-and-price h3{
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
}

.selected-product-name-and-price p{
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
}

.selected-product-color{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: start;
    gap: 5px;
}

.selected-product-color p{
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}

.selected-product-color h3{
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}

.products-tax-and-total{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px 120px;
    gap: 10px;
    border-top: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
}

.products-tax-and-total span{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;

}

.products-tax-and-total span p{
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}

.selected-product-total{
    display: flex;
    padding: 0px 120px 0px 120px;
    align-items: center;
    justify-content: center;
}

.selected-product-total span{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

@media only screen and (min-width: 481px) and (max-width: 600px){
    .selected-single-product {
        gap: 10px;
    }

    .selected-product-containt {
        gap: 5px;
    }

    .selected-product-name-and-price {
        align-items: start;
    }
    .selected-product-name-and-price h3 {
        font-size: 12px;
        line-height: 14px;
    }

    .selected-product-name-and-price p {
        font-size: 10px;
        line-height: 12px;
    }

    .selected-product-color {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }

    .selected-product-color p {
        font-size: 10px;
        line-height: 12px;
    }
    .selected-product-color h3 {
        font-size: 10px;
        line-height: 12px;
    }
}
