.deal-of-the-day-main-container{
    display: flex;
    width: 100%;
    height: auto;
    position: relative;
    padding: 15px 10px;
    overflow: hidden;
}

.deal-of-the-day-border-heading{
    display: flex;
    position: absolute;
    top: 0px;
    left: 30px;
    background-color: #fff;
    z-index: 9999;
    padding: 5px 5px;
    gap: 10px;
    border: none;
    overflow: hidden;
    outline: none;
}

.deal-of-the-day-end-time{
    display: none;
    background-color: #C61B1A;
    height: 30px;
    width: 235px;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    margin-top: -3px;
}

.deal-of-the-day-end-time p{
    color: #fff !important; 
    font-size: 15px !important;
    font-weight: 600 !important;
    line-height: 23px !important;
}

.deal-of-the-day-border-heading p{
    font-size: 15px;
    font-weight: 700;
    line-height: 23px;
    color: #C61B1A;
}

.deal-of-the-day-outer-container{
    width: 100%;
    border: 2px solid #C61B1A;
    border-radius: 8px;
    padding:25px 10px 10px 10px;
    position: relative;
    overflow: hidden;
}

.deal-of-the-day-inner-container{
    display: flex;
    width: 100%;
    overflow: hidden;
}



.deal-of-the-day-arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
    z-index: 9999;
    background-color: #C61B1A;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.deal-of-the-day-arrow-left{
    left: 25px;
}
.deal-of-the-day-arrow-rigth{
    right: 25px;
}

.deal-of-the-day-arrow:disabled {
    background-color: rgba(0,0,0,0.2);
    cursor: not-allowed;
  }

.deal-of-the-day-products{
    display: flex;
    width: 99%;
    gap: 10px;
  transition: transform 0.5s ease-in-out;
}

.deal-of-the-day-product-slider-items{
    display: flex;
    width: 100%;
    min-width: calc(200px / 1); 
    box-sizing: border-box;
    transition: transform 0.5s ease-in-out;
}


@media only screen and (min-width: 781px) and (max-width: 1024px){
    .deal-of-the-day-main-containe{
        padding: var(--global-padding);
    }
    .deal-of-the-day-product-slider-items{
        min-width: calc(250px / 1); 
    }

    .deal-of-the-day-border-heading{left: 50px;}
    .deal-of-the-day-end-time{display: flex;}

}

@media only screen and (min-width: 1025px){
    .deal-of-the-day-main-container{
        padding: var(--global-padding) !important;
    }

    .deal-of-the-day-product-slider-items{
        min-width: calc(300px / 1); 
    }
    .deal-of-the-day-border-heading{left: 120px; top: 8px;}
    .deal-of-the-day-end-time{display: flex;}

    .deal-of-the-day-outer-container{
        width: 100%;
        border: 2px solid #C61B1A;
        border-radius: 8px;
        /* padding: 40px 40px 20px 40px; */
        padding: 40px 55px 20px 55px;
        position: relative;
        overflow: hidden;
    }
}