.navbar{
    display: flex;
    width: 100%;
    height: 57px;
    padding: 21px 30px 0px 30px;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

.navar-links-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 0px;
    margin: 0px;
}

.nav-item{
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 1.6px;
    padding: 0 10px;
}

.nav-link{
    text-decoration: none;
    color: #484F59;
    position: relative;
}

.nav-item:nth-child(8) .nav-link {
    color: var(--active-nav-item-color);
}

.nav-item:nth-child(9) .nav-link{
    color: #005cc5;
}

.nav-item.nav-item.active .nav-link{
    color: var(--active-nav-item-color);
}

/* Mobile Navbar CSS */

/* Custom scrollbar styling for Webkit browsers */
.mobile-navbar::-webkit-scrollbar {
    display: none;
}

.mobile-navbar{
    display: none;
}

/* Drop Down */

.dropdown{
    position: absolute;
    margin-top: 15px;
    left: 0;
    width: 100%;
    background-color: var(--bg-color);
    z-index: 2222222;
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity: 0;
    animation: fade-in 1s forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Desktop Responsiveness */
@media only screen and (max-width: 1300px){
    .navbar{
        padding: 21px 20px 0px 20px;
    }
    .nav-link{
        font-size: 13px;
    }
}

@media only screen and (max-width: 1000px){
    .nav-link{
        font-size: 11px;
    }
}

@media only screen and (max-width: 1050px){
    .nav-link{
        font-size: 10px;
        font-weight: 700;
    }
}


/* Tab Size Media Query 1100 Pixuls */

@media only screen and (max-width: 1000px){
    .navbar{
        display: none;
    }
    .mobile-navbar{
        display: flex;
        
    }
}

@media only screen and (max-width: 700px){
    .nav-item{
        display: none;
    }

    .navbar{
        border: none;
        padding: 0px 10px;
        height: auto;
        display: flex;
        width: 100%;

    }

    .mobile-navbar{
        display: flex;
        width: 100%;
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        gap: 5px;
        padding: 10px 0;
        border-radius: 4px;
    }

    .mobile-nav-link{
        flex: 0 0 auto;
        font-size: 12px;
        background-color: var(--mobile-nav-item-bg);
        font-weight: 400;
        line-height: 12px;
        padding: 10px;
        width: 150px;
        align-items: center;
        text-align: center;
    }

    .mobile-nav-link a{
        color: var(--text-color);
        text-decoration: none;
    }
    
}

@media only screen and (max-width: 400px){
    .mobile-navbar{
        display: none;
    }
}
