.shipping-main-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px;
    color: var(--text-color);
    gap: 20px;
    border: 1px solid #D7D7D7;
}

.shipping-main-container h3{
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
}

