.new-arrival-main{
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: var(--global-padding);
}

/* New Arrival Headings Styling */
.new-arrival-heading-div{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0 0px 0;
}

.new-arrival-heading-div a{
    color: var(--text-color);
    font-size: 25px;
    font-weight: 600;
    line-height: 37px;
    text-decoration: none;
}

.new-arrival-heading-div a:nth-child(2){
    color: var(--text-color);
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
    text-decoration: none;
}

/* New Arrival Cards Container Styling */


.new-arrival-cards {
    display: flex; 
    overflow: hidden; 
    width: 100%; 
    position: relative; 
  }

  .new-arrival-cards-container{
    display: flex;
    width: 25%;
    padding: 0;
    height: auto;
    margin-top: 20px;
}

.slick-slider{
    margin-bottom: 25px;
    display: flex !important;
    width: 100%;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 15px;
    line-height: 30px;
}


.slick-arrow.slick-next,
.slick-arrow.slick-prev{
    display: none !important;
}

.slick-dots {
    position: absolute;
    bottom: -25px;
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
} 



