.payment-method-main-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}

.payment-method-head-container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: start;
    gap: 15px;
}

.payment-method-head-container p{
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}

.payment-method-head-container p a{
    color: #50BED3;
    text-decoration: none;
}