.customer-photos-main-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 60px 50px 60px;
    background-color: #f7f7f7;
    gap: 16px;
}

.customer-photos-main-container h3{
    font-size: 25px;
    font-weight: 700;
    line-height: 37px;
    color: var(--text-color);
}

.slider-container {
    position: relative;
    width: 100%; /* 5 images * 220px each */
    overflow: hidden;
    margin: auto;
    display: flex;
    align-items: center;
  }
  
  .slider-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap: 10px;
  }
  
  .slide-image {
    width: 220px;
    height: 220px;
    flex-shrink: 0;
    cursor: pointer;
  }
  
  .customer-slider-arrow {
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1;
    position: absolute;
  }

  .customer-slider-arrow img {
    width: 50px;
    height: 50px;
  }
  
  .customer-slider-arrow:first-of-type {
    left: 10px;
  }
  
  .customer-slider-arrow:last-of-type {
    right: 10px;
  }
    